sudo: required

language: node_js

node_js:
  - stable

services:
  - docker

cache:
  directories:
  - node_modules

script:
  - docker image build -t kvoli/fun-with-friends:traivs-test
  - docker run -p 8080:8080 kvoli/fun-with-frinds:travis-test


notifications:
  slack: fwf30022:vAysC0wefIZnRdZ3N3jGoDNN

branches:
  only:
  - staging
  - production

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - export REPO=kvoli/fun-with-friends
  - docker build -f Dockerfile -t $REPO:$TRAVIS_COMMIT
  - docker tag $REPO:$TRAVIS_COMMIT $REPO:$TRAVIS_BRANCH
  - docker tag $REPO:$TRAVIS_COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO

env:
  global:
  - secure: UqsKSDR7kcP10mysEc39PWKTz450bon26pTqinEn+za1agaG1hIVa2CzIRaUNkakfnO/WFUDr6wZlThIw4TafXJN/gsp1DNZu1zw2qx7uYHcIO8AY4eBDiBIc5hE+8WECqJhqyN/tNg8nJd8SJjC/Lb6f6a5PfEUQ/M7XYVCDcdE1eOEaQRbah1gp74FiZODF3YC4zRINj4wx9gGMfOgTZNha9oZn3ffMAt+hY77FE1hptP+nxjBy3eRVXafMt40tKzlxfN0fLs6Redr+nwGUdJq1zktR5iuOq4RpOoE/LyuUwxqfSjdcMX4Yc4Ss/4PhdbzONixfkYf2xOGjdjv3gGkeTrsR8K8eZvW7KOD/3crSKcXIAGUIt0/ZnLys+p5vF+2JiQZ0DESNHiqaJZ4ncheLV/Q5pG5hz/GkLGUWlaUY/eWmB7yH7Fn+QAX0Vjl+Znyxz8cUeLziZDmNUUmbM0dGwviPp/iUUa/SRfhFM+Bdt1rm7yuYJQys/Ier35cJMLjdaWr5cBjWJykYN0OB8detpio17W8Z6i6HF/GW8UZG9N2L6ChESC8WHpxH6ncT97vG631Xho0JjtnMo+Dn27uLH6tn/q8qjSUArDZk3977GbYKteqeQAJ6SxoviWmqC5HkIIuVLO9nII6WXTUyaPhaeyN2NF+7o/8pYY5s5I= #EMAIL
  - secure: k19IENhWOdsk3/TmvaD4l/O/0+IhTg0Rt3VGZS0BFcLewd/+4UpAOLJywL6aCwL5YG3D10VJ3IBcDsNjYflgoJo58lZbn7kuiZMMaieU9uQ6jIOaGT7KlpYatZtyFRHQAhnI9xv85CpxPcyF/iCvwTtM70YrDaN5pB0qhqP7+7wulY54QNFtjbWKVzRXDmtHFq80E0jp1b/YWRmr93jMKJimocECtKYzEylb/AEEzsTVL2SYQDqOSIICU9qUW1itBE0m1eAypazAlVdl6Di66t5wxA3pVE1MC9UnYrn0ZSqmK984Bf1TIM8aguL8iarwbX34FC0LxKLiDADJ5kjM3NOuqQ/0h4rN2nBgnYUvfKpqukJyToa4ffMSZuzzDVRmy80XCQiEJMfNBIaxvzeIe0JsI/l3/ZNZl4ZE9z0faHTGbINp7DKp7NfTmqNEvBrJp2HrvJYGce9Bx3fylqgtFStMmXPdXhD7adoKcJu2yzOk7ZUlsrk1vsw05u1EM2sI3TVl3fzKpK5gEjpD5TJM/R7WvAEiTKQQQG3WPkUSz8UWmdq/AZLYpe+gM0w4xz2BWD+jTl4tExF0O6RysuTmElcRRWpdDjqYEHES19fmt7S3zMJhe2HPa4JHl5ScbXTNSV15tlfADRIimIaxw7W2l11Q3gr1uxpTlPcPwCCPGmQ= #USER
  - secure: OCeuKw7Yx0aWDTQm22s5ADLX7oOAO/Rt/OKX5tYBaG0WkwxGgk8DMuu0J4ulQXdX2KLTniMcsmA3xeNZV2OZ2FCGHmyowOa/r7NYnR2muEZWN9c40hb7+rXhudaNpZ1gd6ITCBbkc0R2XAnoYoXul7XI+ZGdpnYiWkjmaGDfUhBNTn8uepuaPbU8J9m2pGJ3CcUJmY0KXiyszASluXWufW8pQuyP/CXiNgVT3mO1A2fXuhgY0zHqJmR8egpU2bvrlGCHnLhrKM0Demxxy1p6hwqnNilO3Z7OJ8T7VO2bVykqgL+cKbLKZdIBk7ry0yWMv2CKGr1V9l7zQ97kDQDKOLKFRWtiP9oxVe0jfGeGdD0SJ+/hCqEI4qBf7P2eLDMm7eV4oZthk1k0x2Ymfv1hgTaDvQ2fkIzU+d3RcnL+a3R17Y2trYtqy7JDu/XjBwKTXRTYKoCXRme1V2MCSh1ArX5OuVOFeJPT8+v5SSSRJg6Lg8mL8rXkwR5rnzYUnpJ8/H0agQIELYEP1a4Q4nj9PhZWp7m3C+38wXYw37tkqcgKh+LA/gg5+OobmRcplZHmCj3f5IUXItv1RdXmbhQ4X8Vdb8i9LKIbLCoUeS0LKbz/siOtKzMH0k5r4oLFbCM551JmXCRGKd3IJswsVQQU/iKBRpGt9Pj5CYfEpMiTf3M= #PASS 
