sudo: required
language: node_js
node_js:
- stable
services:
- docker
cache: 
  directories: 
  - $HOME/.npm
install:
- cd ./server && npm install --only=production
- cd ../client && npm install --only=production
script:
- npm test
- npm run build
- cd ../
notifications:
  slack: fwf30022:vAysC0wefIZnRdZ3N3jGoDNN
branches:
  only:
  - staging
  - production
after_success:
- docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
- export REPO=kvoli/fun-with-friends
- export TAG=`if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo "latest"; else echo "pull-request-$TRAVIS_PULL_REQUEST_BRANCH" ; fi`
- docker build -t $REPO:$TAG .
- docker push $REPO
env:
  global: 
  - secure: RInP8UvMnZ+4uM7qWtTclYam6q24ohzcO4uTw5mh7wrEykeOGujKsfuvgMorlxhPAKHTlH7zpKlS+8LL5kX2Ny245F/C0bZxYReJ90ssFWbyNmY+wRNNyi7Hzq1IBHu5688L/rzP1+MgcXS2K93ysKgfMBv3LLf9tHuu+voeDCxOfAkBA/ymcftseykN4y4bQrKLrjEn+MlMIKcBpsWKTwX3DiM8DZYOE3X4jYoy4pmYcD3DKRrGODVvMQhrWkHq04G6n+Xzn/1wlJGiirUYK5gCXX0EeXBT/JHq7txYpste2iP3aPNIczSJF6NcxWaKzxMC1irv4/f4i9lyQY8+oPuAGtleQ8PsYqIQ4uXloakAGumXVovnn/BQwz/5bOVZ8lU/JwA6wZfTPi/Dg3MhCXDZrbylgNaQxUSyG/WU3S+z0RkZRBKS4/hQLu6vUUn9VLZPxAxRUoIUkHKlHlceRbSvIrXJGfTVNDShdm0OXIFO5Jvd/AD1G1d1hpkjOpRvQXPLq//A7rvbjomx8Y4LgHCRBJ9u/V5Vlr5hInLqPxExq+PRupMA81KDwyN7PiQsgWd55l1EDcos8GZCRdczZZVk15NVKhX7YCpWgLqX61wYjWf0R3kwU/3h9onZEZ2/g0PZE1iCVK09uvWW0JDyPeBxj0jJyYweSYxW0Zz2vac=
  - secure: 1G/Zz+VpD8bBYRcAYjEsd+hle4s7M2HTUbuyD4a16iZUoiJ7J8KA12Eaap3VNzKh0ghd7QPAGGXly6MGZv8Jrdvo+vz7+/hlPDBXn6WrPLzz5zb0ExL/Zek65yFmt/Y3KJO2v95G8hUgYcP7IGrPolTSnAFw06a51HdjSqKzeQnS9NxJ06lde1b8swjxThyjiEXY2ii8b8z6umrNF9hcEjj5YhKW0MOidAr3p3O1dTfM9EcqN9kJ8wRkLqgBPx+lv/PSaxE/u/GZhLPlEXKkiBWTV7SSTt1MszDC54HvougojbIioKJPoEp6KEeiglS0evocJoA//WXZZMtOFXZCxUrQ4xZPYq4o3q6zkIz5l2bIQD91cfYbZlxQxjY+BLaeZ9rLarppTWPa+4WP/52wFE8uAwDNyRsA6B1XN2uP0azrKW2frQ9e5JrXc9L1EylxjAo/nsMrbZsP0QB4PYPS9foIKLK9H6ySRbVr45LJt/sBROJH3RKzXbzgcb0C6Ek1jCyCqDpzG+VIA8iKh+mC0LZNnlo9swG1C9eMo3dXB86UDLyJQgMQwPxlKDeieNe1lAyYBthZFpZrwmZHowDAExkYBw0IjkC9sMkGM5jfVHcXcO84twyBT5MjugKuIrH/L9z01TCE78ah408kcNBn1Msfc9Y92FfkV1+2/YVcbR4=

